
<div class="home-main">
  <h3>Latest Posts</h3>
  <% @articles.each do |article| %>
    <h3><%= link_to article.title, article_path(article) %></h3>
    <p><%= article.description %></p>
    <hr>
  <% end %>
</div>
<div class="home-side">
  <h3>Most Popular</h3>
  <p>Render most popular posts here</p>
</div>
